

QWidget
{
	background-color:#252525;
	color:#999;
	border:none;
	/*font-weight:bold;*/
	/*font-size:12px;*/
	/*font-family: "Franklin Gothic Demi";*/
	/*font-family: "Miriam";*/
	/*border-color:#121212;*/
}

QPushButton
{

}

QListView
{
	background-color:#303030;
}

QPlainTextEdit
{
	background-color:#303030;
}

QPTreeWidget
{
	background-color:#303030;
}

QLineEdit
{
	background-color:#303030;
}

QTreeView
{
	background-color:#303030;
}

line
{
	background-color:#121212 !important;
	border-color:#121212 !important;
}

QPushButton
{
	/*background-color: rgb(91,91,91);*/
	/*text-shadow:2px 2px 2px black;*/
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #292929, stop:1 #1d1d1d);
	border-style:solid;
	border-radius:1px;
	border-width:1px;
	border-top-color: #303030;
	border-left-color: #303030;
	border-right-color: #121212;
	border-bottom-color: #121212;
	
	padding: 1px 6px 3px 6px;

}

QPushButton:hover
{
	color:#d0d0d0;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop:1 #212121);
}

QPushButton:pressed
{
	border-top-color: #121212;
	border-left-color: #121212;
	border-right-color: #303030;
	border-bottom-color: #303030;
	/*padding: 2px 7px 1px 5px;*/
	padding: 2px 5px 2px 7px;
}

QScrollBar:vertical {
     /*border: 1px solid grey;*/
     background: #414141;
     width: 15px;
     margin: 0;
 }
 QScrollBar::handle:vertical {
     background: #515151;
     min-height: 20px;
 }
 QScrollBar::handle:vertical:hover {
     background: #777;

 }

 QScrollBar::add-line:vertical {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     border: 0px solid grey;
     width: 0px;
     height: 0px;
     /*background: white;*/

 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
