
QDialog
{
        background-color:#525252 !important;
}

QLineEdit
{
	background-color:#434343;
	border:1px solid #353535;
	color:#A2A2A2;
}

QLineEdit::disabled
{
        background-color:#626262;
        border:1px solid #515151;

}

QComboBox
{
	background-color:#434343;
	border-image: none;
	border:1px solid #353535;
	color:#A2A2A2;
}

QComboBox::down-arrow
{
	/*border:1px solid red;*/
	/*
	border-width: 0px;
	
	background-image:none;
	outline: 0px;
	border-image: none;
	*/
	
	border-image: none;
	padding:0px;
	margin:0px;
	width:24px;
	height:24px;
    image: url(:/icons/icons/stylesheet-branch-open.png);
}

QComboBox::down-arrow:on
{
	border-width: 0px;
	
    image: url(:/icons/icons/stylesheet-branch-open.png);
	
}

QMenu
{
    background-color:#626262;
    padding:0;
    border:1px solid #444;
}

QMenu::item
{
    color:#AAA;
    padding: 6px 18px;

}

QMenu::item:selected
{
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                               stop: 0 #377086, stop: 0.5 #68a8c1);
    color:#EEE;
}


QMenu::item:selected:disabled
{
    background:#515151;
    color:#AAA;
}

QMenu::item:disabled
{
    background:#515151;
    border-bottom:1px solid #444;
    padding:6px;
}

#label_14
{
    color:#E7E7E7;
}

#label_img
{
	border:0px;
}

 QProgressBar 
{
     text-align: center;
}



QTreeView,
#listView_collections
{
	background-color:#434343;
	border:1px solid #353535;
	color:#A2A2A2;
	outline: 0px;
}

QDateEdit
{
	background-color:#434343;
	border:1px solid #353535;
	color:#A2A2A2;
}

QLabel,
QCheckBox,
QRadioButton,
#checkBox_autoLoad
{
	color:#A2A2A2;
}

#toolBarTabSwitcher,
#mainToolBar
{
    /*background-color:#2D2D2D;*/
   background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
                     stop:0 #525252 , stop:0.9 #525252, stop:0.91 #232323, stop: 1 #232323);
					 
	/*background-color:#525252;*/
	border-top:1px solid #6a6a6a;
	border-bottom:1px solid #232323;

   /*border:1px solid grey !important;*/
   padding:0px !important;
   margin:0px !important;
   border:0px !important;
   height:30px	;
   
   /*max-height:48px !important;*/
   /*background-color:#123122;*/
  /* background-color:#123122;
    color:#E7E7E7;
    border:0px;
    padding:0px;
    margin:0px;*/

}

#mainToolBar QToolButton
{
	color:#DDD !important;
}
#mainToolBar QToolButton::disabled
{
	color:#777 !important;
}

#toolBarTabSwitcher QToolButton
{
    width:100px;
    border:0px solid transparent;
    margin-top:6px;
    margin-right:10px;
    margin-left:0px;
    height:30px;
    padding-bottom:6px;
    font-size:12px;
    font-weight:bold;
    color:#999;



}

#toolBarTabSwitcher QToolButton::hover,
#toolBarTabSwitcher QToolButton::checked::hover
{
    color:#FFF !important;
}

#toolBarTabSwitcher QToolButton::checked
{

    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #464646, stop: 0.4 #464646, stop: 0.7 #232323, stop: 1 #232323);
    color:#DDD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

#centralWidget,
#mainStack
{
        background-color:#232323;

       /* background-image: url(:/icons/icons/bg_g2.png);
        background-repeat: repeat-xy;*/
}

#settingsDialog
{
	background-color:#232323;
}

#widget_archive_sidebar_preview_header,
#widget_archive_sidebar_info_header,
#widget_archive_sidebar_map_header,
#widget_archive_sidebar_score_header,
#widget_archive_sidebar_sites_header,
#widget_archive_sidebar_keywords_header,
#widget_archive_sidebar_notes_header,
#widget_archive_sidebar_tools_header
{
    background-color:#737373;
    border-bottom:1px solid #414141;
    border-top:1px solid #929292;
    min-height:20px;
}

#widget_archive_sidebar_preview_header:hover,
#widget_archive_sidebar_info_header:hover,
#widget_archive_sidebar_map_header:hover,
#widget_archive_sidebar_score_header:hover,
#widget_archive_sidebar_sites_header:hover,
#widget_archive_sidebar_keywords_header:hover,
#widget_archive_sidebar_notes_header:hover,
#widget_archive_sidebar_tools_header:hover
{
    background-color:#848484;
}

#label_archive_sidebar_preview,
#label_archive_sidebar_info,
#label_archive_sidebar_map,
#label_archive_sidebar_score,
#label_archive_sidebar_sites,
#label_archive_sidebar_keywords,
#label_archive_sidebar_notes,
#label_archive_sidebar_tools
{
    color:#E7E7E7;
}

#widget_archive_sidebar_preview_content,
#widget_archive_sidebar_info_content,
#widget_archive_sidebar_map_content,
#widget_archive_sidebar_score_content,
#widget_archive_sidebar_sites_content,
#widget_archive_sidebar_keywords_content,
#widget_archive_sidebar_notes_content,
#widget_archive_sidebar_tools_content
{
    background-color:#525252 !important;

}

#widget_archive_sidebar_preview_shadow,
#widget_archive_sidebar_info_shadow,
#widget_archive_sidebar_map_shadow,
#widget_archive_sidebar_score_shadow,
#widget_archive_sidebar_sites_shadow,
#widget_archive_sidebar_keywords_shadow,
#widget_archive_sidebar_notes_shadow,
#widget_archive_sidebar_tools_shadow
{
    /*background-color:#525252 !important;*/
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #333,  stop: 1 #525252);
}

#widget_archive_sidebar_preview_shadow_2,
#widget_archive_sidebar_info_shadow_2,
#widget_archive_sidebar_map_shadow_2,
#widget_archive_sidebar_score_shadow_2,
#widget_archive_sidebar_sites_shadow_2,
#widget_archive_sidebar_keywords_shadow_2,
#widget_archive_sidebar_notes_shadow_2,
#widget_archive_sidebar_tools_shadow_2
{
    /*background-color:#525252 !important;*/
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #525252,  stop: 1 #646464);
}


#tabWidget_sidebarScore::pane,
#tabWidget_sidebarKeywords::pane,
#tabWidget_sidebarFiles::pane,
#tabWidget_sidebarSites::pane,
#tabWidget_sidebarInfo::pane,
#tabWidget_archiveTrees::pane,
#tabWidget_Process::pane,
#cont_proc_origAll::pane,
#cont_proc_origi_EV0::pane,
#cont_proc_origi_EV1::pane,
#cont_proc_origi_EV2::pane,
#cont_proc_pano::pane,
#cont_proc_hdr::pane,
#cont_proc_post::pane,
#tabWidget_settings::pane,
#tabWidget_archiveCenter::pane,
#widget_7,
#widget_8,
#widget_6,
#widget_9
{
	background-color:#525252 !important;
	border-top:1px solid #6A6A6A;
	top: -1px;
}

#widget_9
{
        margin-top:6px;
}

#widget_3
{
        background-color:#525252 !important;
        border-top:1px solid #6A6A6A;
        border-bottom:1px solid #6A6A6A;
        border-left:1px solid #6A6A6A;

}

#widget_4,
#widget_5,
#widget_2
{
        border-left:1px solid #6A6A6A;
}

#pushButton_aniMate
{
        background-color:#525252 !important;
        border-top:1px solid #6A6A6A;
        border-left:0;
        border-right:0;
        border-bottom:0;

}

#pushButton_processFileGroupOrigall,
#pushButton_processFileGroupEV0,
#pushButton_processFileGroupEV1,
#pushButton_processFileGroupEV2,
#pushButton_processFileGroupPanorama,
#pushButton_processFileGroupHDR,
#pushButton_processFileGroupPostProcess

{
    background-color:transparent;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    border-left:1px solid #6A6A6A;
    border-right:1px solid transparent;
    height:20px;
    font-size:10px;

}

#pushButton_processFileGroupOrigall::checked,
#pushButton_processFileGroupEV0::checked,
#pushButton_processFileGroupEV1::checked,
#pushButton_processFileGroupEV2::checked,
#pushButton_processFileGroupPanorama::checked,
#pushButton_processFileGroupHDR::checked,
#pushButton_processFileGroupPostProcess::checked
{
    background-color:#525252;
    border-top:1px solid #6A6A6A;
    border-bottom:1px solid #6A6A6A;
    border-left:1px solid #525252;
    border-right:1px solid #6A6A6A;
    height:20px;
    font-size:10px;


}

#pushButton_processFileGroupOrigall::!checked:hover,
#pushButton_processFileGroupEV0::!checked:hover,
#pushButton_processFileGroupEV1::!checked:hover,
#pushButton_processFileGroupEV2::!checked:hover,
#pushButton_processFileGroupPanorama::!checked:hover,
#pushButton_processFileGroupHDR::!checked:hover,
#pushButton_processFileGroupPostProcess::!checked:hover
{
    background-color:#333;


}




#widget_filter
{
        background-color:#525252 !important;
        /*border-top:1px solid #6A6A6A;
        top: -1px;*/
}

#tabWidget,
#tab_archives
{
        background-color: transparent;
	border:0;
}

#tabKeywords,
#tabFiles,
#tabSites
{
	background-color:#525252 !important;
}

#tabArchiveProjects
{
	background-color:#525252 !important;
	/*border-right:2px solid #232323;
	border-left:2px solid #232323;*/
}

#label_processTitle
{
        color:#E7E7E7;
        font-size:14px;
}


#label_processPano
{
        color:#CCC;
        font-size:12px;
        font-weight:bold;
}


#label_archiveTitle
{
	color:#E7E7E7;
	padding-left:6px;
	padding-top:6px;
        font-size:22px;  /* 22px */
}

QTabWidget::pane
{
	border:0;
        background-color: transparent;
	padding:0;
	margin:0;
}


QStatusBar
{
	background-color:#232323;	
	color:#A2A2A2;
}

#label_processPath
{

        padding-left:0px;
        /*padding-bottom:12px;*/
        color:#A2A2A2;
}

#label_archiveDate
{
	
	padding-left:10px;
	padding-bottom:12px;
	color:#A2A2A2;
}


#label_fileSize
{
	color:#A2A2A2;
}

QPlainTextEdit,
#treeWidget_archiveDirTree,
#treeView_archiveFiles
{
	background-color:#434343;
	border:1px solid #353535;
	color:#A2A2A2;
}

QTabBar::tab
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #343434, stop: 0.7 #343434,  stop: 1 #303030);
    color:#A6A6A6;
    border-top:1px solid #434343;
    border-bottom:1px solid #6A6A6A;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    padding-bottom:0px;
    margin-right:1px;

    /*font-weight:450;*/
    /*font-family:"Arial";*/
    font-size:10px;
        /*
        background-color:#525252;
	font-weight:bold;
	font-size:10px;
	color:#E7E7E7;
	border-top:1px solid #6A6A6A;
        margin-right:1px;
        */
        /*padding:2px;
        padding-bottom:6px;*/

	
}




QTabBar::tab:selected
{
        background-color:#525252;
        color:#E7E7E7;
        border-top:1px solid #6A6A6A;
        margin-bottom:-1px;
        padding-top:3px;
        padding-bottom:5px;
        /*
	background-color:#525252;
	font-weight:bold;
	font-size:10px;
	color:#E7E7E7;
	border-top:1px solid #6A6A6A;
        */
        /*padding:2px;
        padding-bottom:6px;*/
        /*min-width:80px;*/
       /* width:100px;
        min-width:100px;*/
}	

QTabBar::tab:!selected
{
        /*
        background-color:#343434;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                   stop: 0 #343434, stop: 0.7 #343434,  stop: 1 #303030);
        font-weight:bold;
        font-size:10px;
        color:#A6A6A6;
	border-top:1px solid #434343;
	border-bottom:1px solid #6A6A6A;
        */
        /*border-right:1px solid #343434;*/
        /*margin-top:2px;*/
        /*padding:2px;
        padding-bottom:6px;*/
        /*padding-bottom:4px;*/
       /* min-width:80px;*/
       /* width:100px;
        min-width:100px;*/
}	

QTabBar::tab:disabled
{
    /*
    background-color:transparent;
    border:none;
    width:0px;
    height:0px;
    min-width:0px;
    margin:0px;
    */
    /*display:none;*/
    /*
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color:transparent;
    */
}

/*QTabBar::close-button:default,*/
/*QTabBar::close-button:active,*/
/*QTabBar::close-button:closable,*/
/*QTabBar::close-button:closed,*/
QTabBar::close-button

{

     image: url(:/icons/icons/close-icon-grey-18.png);

     width:12px;
     height:12px;

     /*margin-top:-4px;*/
    /* subcontrol-position: left;*/
}

QTabBar::close-button:hover

{
     image: url(:/icons/icons/close-icon-red-circle-1.png);
     width:12px;
     height:12px;
     /*margin-top:-4px;*/
    /* subcontrol-position: left;*/
}

#label_archiveTitle,
#label_archiveDate,
#horizontalLayout_12,
#widget_navi,
#label_previewImage,
#page_dirWarning,
#label_sideBarPreview
{
	background-color:#626262;
}

 QSplitter::handle
 {
     image: url(:/icons/icons/splitterHandle1.png);
     background-color:#737373;
 }

 QSplitter::handle:horizontal
 {
     width: 6px;
 }

 QSplitter::handle:vertical
 {
     height: 6px;
 }


#listView_proc_origAll,
#cont_proc_origAll,
#listView_proc_origi_EV0,
#cont_proc_origi_EV0,
#listView_proc_origi_EV1,
#cont_proc_origi_EV1,
#listView_proc_origi_EV2,
#cont_proc_origi_EV2,
#listView_proc_pano,
#cont_proc_pano,
#listView_proc_hdr,
#cont_proc_hdr,
#listView_proc_post,
#cont_proc_post,
#listView_processBrowser,
#listView_processNewBrowser,
#listView_archiveBrowser,
#listView_quickTag,
#keywordCloud,
#listView_filmStrip,
#listView_imagePicker,
#listView_archiveFiles,
#listView_processFiles
{
        /*background-color:#626262;*/
        background:#434343;
	border:1px solid #434343;
        color:#EEE;
        padding:0px;
}

#listView_proc_origAll::item,
#listView_proc_origi_EV0::item,
#listView_proc_origi_EV1::item,
#listView_proc_origi_EV2::item,
#listView_proc_pano::item,
#listView_proc_hdr::item,
#listView_proc_post::item,
#listView_processBrowser::item,
#listView_processNewBrowser::item,
#listView_archiveBrowser::item,
#listView_archiveBrowser::item:hover,
#listView_quickTag::item,
#keywordCloud::item,
#listView_filmStrip::item,
#listView_imagePicker::item,
#listView_archiveFiles::item,
#listView_processFiles::item
{
	/*background:#464646;*/
    outline:0px;
    margin:0px;
    background-color:#626262;

    background: qradialgradient(cx:0.5, cy:0.5, radius: 1,
                 fx:0.5, fy:0.5, stop:0 #424242, stop:1 #626262);

    /*background: qconicalgradient(cx:0.5, cy:0.5, angle:30,
                    stop:0 white, stop:1 #00FF00);*/

    border:1px solid #434343;
    show-decoration-selected: 0;
}

#listView_proc_origAll::item:selected,
#listView_proc_origi_EV0::item:selected,
#listView_proc_origi_EV1::item:selected,
#listView_proc_origi_EV2::item:selected,
#listView_proc_pano::item:selected,
#listView_proc_hdr::item:selected,
#listView_proc_post::item:selected,
#listView_processBrowser::item:selected,
#listView_processNewBrowser::item:selected,
#listView_archiveBrowser::item:selected,
#keywordCloud::item:selected,
#listView_filmStrip::item:selected,
#listView_imagePicker::item:selected,
#listView_archiveFiles::item:selected,
#listView_processFiles::item:selected
{
        background:#929292 !important;
        background: qradialgradient(cx:0.5, cy:0.5, radius: 1,
                     fx:0.5, fy:0.5, stop:0 #727272, stop:1 #929292);
        /*border:1px solid #777;*/
}

#listView_quickTag::item:hover,
#keywordCloud::item:hover
{
    background:#737373;
    background: qradialgradient(cx:0.5, cy:0.5, radius: 1,
                 fx:0.5, fy:0.5, stop:0 #535353, stop:1 #737373);
    border:1px solid #AAA;
}

/*
#listView_proc_origAll::item:hover,
#listView_proc_origi_EV0::item:hover,
#listView_proc_origi_EV1::item:hover,
#listView_proc_origi_EV2::item:hover,
#listView_proc_pano::item:hover,
#listView_proc_hdr::item:hover,
#listView_proc_post::item:hover,
#listView_processBrowser::item:hover,
#listView_archiveBrowser::item:hover
{

        background:#737373;
        background: qradialgradient(cx:0.5, cy:0.5, radius: 1,
                     fx:0.5, fy:0.5, stop:0 #535353, stop:1 #737373);
        border:1px solid #AAA;
}

#listView_proc_origAll::item:selected:hover,
#listView_proc_origi_EV0::item:selected:hover,
#listView_proc_origi_EV1::item:selected:hover,
#listView_proc_origi_EV2::item:selected:hover,
#listView_proc_pano::item:selected:hover,
#listView_proc_hdr::item:selected:hover,
#listView_proc_post::item:selected:hover,
#listView_processBrowser::item:selected:hover,
#listView_archiveBrowser::item:selected:hover
{

        background:#929292 !important;
        background: qradialgradient(cx:0.5, cy:0.5, radius: 1,
                     fx:0.5, fy:0.5, stop:0 #727272, stop:1 #929292);
        border:1px solid #AAA;
}
*/
#scrollArea_process,
#scrollAreaWidgetContents
{
        background-color:transparent;
	border:0px;
}

#label_previewImage
{
	padding-bottom:12px;
}

#scrollArea
{
	border:none;
	/*border-left:1px solid #121212;*/
}

#scrollArea::QScrollBar:vertical
{
    width:5px;
}

#listView_processTree,
#listView_archiveTree
{
	background-color:#434343;
	color:#A2A2A2;
	border:0;
	outline: 0px;
	
}

#scrollArea
{
	border:0;
}

#scrollAreaWidgetContents_5
{
        background-color:#232323;
	border:0;
}

QPushButton::menu-indicator
{

    top:-2px;
    left:-2px;

}

QPushButton::menu-indicator:pressed
{

    top:-1px;
    left:-1px;

}

QPushButton
{
	/*background-color: rgb(91,91,91);*/
	/*text-shadow:2px 2px 2px black;*/
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #747474, stop:1 #636363);
	border-style:solid;
	border-radius:1px;
	border-width:1px;
	border-top-color: #929292;
	border-left-color: #929292;
	border-right-color: #353535;
	border-bottom-color: #353535;
        /*
	font-weight:bold;
	font-size:8px;
	color:#D3D3D3;
        */
        color:#F7F7F7;
        font-size:10px;
        font-weight:normal;

	padding: 1px 6px 3px 6px;

}

QPushButton:disabled
{
	color:#929292;
}

QPushButton:hover
{
	color:#E7E7E7;
	Background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #848484, stop:1 #636363);
}

QPushButton:flat
{
	background-color:transparent;
	border-color:transparent;
}

QPushButton:flat:hover
{
	
	color:#E7E7E7;
	Background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #848484, stop:1 #636363);
	border-style:solid;
	border-radius:1px;
	border-width:1px;
	border-top-color: #929292;
	border-left-color: #929292;
	border-right-color: #353535;
	border-bottom-color: #353535;
	font-weight:bold;
	font-size:8px;
	color:#D3D3D3;
	padding: 1px 6px 3px 6px;
	
}

QPushButton:pressed,
QPushButton:flat:pressed
{
	border-top-color: #353535;
	border-left-color: #353535;
	border-right-color: #929292;
	border-bottom-color: #929292;
	color:#E7E7E7;
        background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #848484);
	/*padding: 2px 7px 1px 5px;*/
	padding: 2px 5px 2px 7px;
}

#pushButton_archiveSearchByTitle,
#pushButton_archiveGroupByAz
{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #747474, stop:1 #636363);
	border-style:solid;
	border-radius:1px;
	border-width:1px;
	border-top-color: #818181;
	border-left-color: #818181;
	border-right-color: #464646;
	border-bottom-color: #464646;
	font-weight:bold;
	font-size:8px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;	
	color:#D3D3D3;
	padding: 1px 6px 3px 6px;
	border-bottom-width:2px;
	
}

#pushButton_archiveTreeGroup,
#pushButton_archiveGroupByDate,
#pushButton_archiveGroupByLoc
{
        background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #747474, stop:1 #636363);
        border-style:solid;
        border-radius:1px;
        border-width:1px;
        border-top-color: #818181;
        border-left-color: #818181;
        border-right-color: #464646;
        border-bottom-color: #464646;
        font-weight:bold;
        /*border-top-right-radius:6px;
        border-bottom-right-radius:6px;*/
        font-size:8px;
        color:#D3D3D3;
        padding: 1px 6px 3px 6px;
        border-bottom-width:2px;
}

#pushButton_archiveSearchByKeywords,
#pushButton_archiveGroupByScore
{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #747474, stop:1 #636363);
	border-style:solid;
	border-radius:1px;
	border-width:1px;
	border-top-color: #818181;
	border-left-color: #818181;
	border-right-color: #464646;
	border-bottom-color: #464646;
	font-weight:bold;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	font-size:8px;
	color:#D3D3D3;
	padding: 1px 6px 3px 6px;
	border-bottom-width:2px;
}

#pushButton_archiveSearchByTitle:flat,
#pushButton_archiveGroupByAz:flat
{
	border-top-color: #464646;
	border-left-color: #464646;
	border-right-color: #818181;
	border-bottom-color: #818181;
	
	color:#E7A700;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #747474);
	/*padding: 2px 7px 1px 5px;*/
	padding: 3px 5px 1px 7px;
	margin-bottom:1px;
}

#pushButton_archiveSearchByKeywords:flat,
#pushButton_archiveGroupByDate:flat,
#pushButton_archiveGroupByLoc:flat,
#pushButton_archiveTreeGroup:flat,
#pushButton_archiveGroupByScore:flat
{
	border-top-color: #464646;
	border-left-color: #464646;
	border-right-color: #818181;
	border-bottom-color: #818181;
	color:#E7A700;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #747474);
	/*padding: 2px 7px 1px 5px;*/
	padding: 3px 5px 1px 7px;
	margin-bottom:1px;
}

#frame_line,
#frame_line_2
{
	border-top:1px solid #636363;
	border-bottom:1px solid #484848;
	
}

#pushButton_add,
#pushButton_cancel,
#pushButton_Cancel,
#pushButton_Accept,
#pushButton_Prev,
#pushButton_Next,
#pushButton_next,
#pushButton_save,
#pushButtonCancel,
#pushButtonGo,
#pushButton_go,
#pushButtonClose,
#pushButton_loadFromList,
#pushButton_cleanStart_loadLib,
#pushButton_cleanStart_createLib,
#pushButton_yes,
#pushButton_no,
#pushButtonGetData,
#pushButtonAdd
{
	font-size:10px !important;
}


QScrollBar:vertical,
QScrollBar:horizontal
{
    background: #414141;
}

QScrollBar:vertical
{
    width:15px;
}

QScrollBar:horizontal
{
    height:15px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal
{
     background: none;
}

QScrollBar::handle:horizontal,
QScrollBar::handle:vertical
{
    background: #616161;
}


QScrollBar::handle:vertical
{
    min-height:40px;
    margin-left:1px;
}

QScrollBar::handle:horizontal
{
    min-width:40px;
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover
{
    background: #777;

}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal
{
    height: 0px;
    width: 0px;
}

QAbstractScrollArea::corner
{
    background: #414141;
    border-style:none;
    border-image:none;
    image:none;
    border:0px solid transparent;
    margin:0px;
    padding:0px;
    width:0px;
    height:0px;
}


/*
QScrollBar:vertical
{

     background: #414141;
     width: 15px;
     margin: 0;
     border:1px solid #3a3a3a;
}


QScrollBar:horizontal
{

     background: #414141;
     height: 15px;
     margin: 0;
     border:1px solid #3a3a3a;
}

 QScrollBar::handle:vertical
 {
     background: #616161;
     min-height: 20px;
 }

 QScrollBar::handle:horizontal
 {
     background: #616161;
     min-width: 20px;
 }

 QScrollBar::handle:vertical:hover,
 QScrollBar::handle:horizontal:hover
 {
     background: #777;

 }

 QScrollBar::add-line:vertical {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }


 QScrollBar::add-line:horizontal
 {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:horizontal {
     border: 0px solid grey;
     background: #32CC99;
     height: 0px;
     subcontrol-position: top;
     subcontrol-origin: margin;
 }
 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     border: 0px solid grey;
     width: 0px;
     height: 0px;


 }

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
*/



QTreeView::item,
#listView_processTree::item,
#listView_archiveTree::item,
#listView_collections::item
{
    padding:1px 0px;
}

QTreeView::item:selected,
#listView_processTree::item:selected,
#listView_archiveTree::item:selected,
#listView_collections::item:selected
{
    /*background-color:#68a8c1;*/
    /* 377086 */
	
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                   stop: 0 #377086, stop: 0.5 #68a8c1);


}

QTreeView::item:selected:hover,
#listView_processTree::item:selected:hover,
#listView_archiveTree::item:selected:hover,
#listView_collections::item:selected:hover
{
    /*background-color:#68a8c1;*/
    /* 377086 */
   background-color: #68a8c1;
   



}

QTreeView::item:hover,
#listView_processTree::item:hover,
#listView_archiveTree::item:hover,
#listView_collections::item:hover
{
    background:#626262;
    color:#E7E7E7;
	
    /*border:1px solid #377086;*/
}

QTreeView::branch:!has-children
{
	border-image: none;
    image: none;
}

 QTreeView::branch:has-children:!has-siblings:closed,
 QTreeView::branch:closed:has-children:has-siblings {
         border-image: none;
         image: url(:/icons/icons/stylesheet-branch-closed.png);
 }

 QTreeView::branch:open:has-children:!has-siblings,
 QTreeView::branch:open:has-children:has-siblings  {
         border-image: none;
         image: url(:/icons/icons/stylesheet-branch-open.png);
 }
 
#pushButton_naviPrev
{
	background-color:transparent;
	border:0;
	width:32px;
	height:32px;
	image: url(:/icons/icons/arow_left_grey_v01.png);
}

#lineEdit_archiveUrl
{
    background-color:#FFF;
    color:#000;
    font-size:12px;
    padding:2px;

}

#pushButton_naviPrev_2
{
        background-color:transparent;
        border:0;
        width:24px;
        height:24px;
        image: url(:/icons/icons/arow_left_grey_v01.png);
        /*margin-top:2px;*/
}

#pushButton_naviPrev:hover,
#pushButton_naviPrev_2:hover
{
	image: url(:/icons/icons/arow_left_grey_v02.png);
}

#pushButton_naviNext
{
	background-color:transparent;
	border:0;
	width:32px;
	height:32px;
	image: url(:/icons/icons/arow_right_grey_v01.png);
}

 QProgressBar {
     background-color:#343434;
     color:#DDD;
     background-image:none;
     border-image:none;
     border:none;
     margin-left:1px;
     margin-right:1px;



 }

#lineEdit_archiveUrl
{
    margin-bottom:0px;
}

 QProgressBar::chunk {
     background-color: #AAA;
     width: 4px;

 }

#pushButton_naviNext_2
{
        background-color:transparent;
        border:0;
        width:24px;
        height:24px;
        image: url(:/icons/icons/arow_right_grey_v01.png);
        /*margin-top:2px;*/
}

#pushButton_naviNext:hover,
#pushButton_naviNext_2:hover
{

	image: url(:/icons/icons/arow_right_grey_v02.png);
}

QTableView
{
    background-color:#DDD;
    alternate-background-color:#EEE;
    selection-background-color:#E7A700;
}

 QHeaderView::section ,
 QTableView QTableCornerButton::section
{

     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: white;
     padding: 4px;
     border: 1px solid #6c6c6c;

 }

 QHeaderView::section:selected
 {
     background-color: red;
     color:green;
 }


 QHeaderView::down-arrow {
     /*image: url(down_arrow.png);*/
 }

 QHeaderView::up-arrow {
     /*image: url(up_arrow.png);*/
 }

/*COLORED BUTTONS*/
/*ORANGE*/
#pushButton_archiveEditData_1
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ab9838, stop:1 #948431);
    color:#F7F7F7;
    font-size:10px;
    font-weight:normal;
    border-top-color:   #c8b659;
    border-left-color:  #c8b659;
    border-right-color: #4c4419;
    border-bottom-color:#4c4419;
}
#pushButton_archiveEditData_1:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #bba848, stop:1 #948431);
}
#pushButton_archiveEditData_1:pressed
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #948431, stop:1 #bba848);
    border-top-color:   #4c4419;
    border-left-color:  #4c4419;
    border-right-color: #c8b659;
    border-bottom-color:#c8b659;
}

/* GREEN */
#pushButton_archiveOpenFolder_1,
#pushButton_archiveOrganizeFolder_1,
#pushButton_archiveCompressor_1
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #70ab38, stop:1 #619431);
    color:#F7F7F7;
    font-size:10px;
    font-weight:normal;
    border-top-color:   #8fc859;
    border-left-color:  #8fc859;
    border-right-color: #324c19;
    border-bottom-color:#324c19;
}

#pushButton_archiveOpenFolder_1:hover,
#pushButton_archiveOrganizeFolder_1:hover,
#pushButton_archiveCompressor_1:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #80bb48, stop:1 #619431);
}
#pushButton_archiveOpenFolder_1:pressed,
#pushButton_archiveOrganizeFolder_1:pressed,
#pushButton_archiveCompressor_1:pressed
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #619431, stop:1 #80bb48);
    border-top-color:   #324c19;
    border-left-color:  #324c19;
    border-right-color: #8fc859;
    border-bottom-color:#8fc859;
}

/* CYAN */
#pushButton_addNewSite_1,
#pushButton_sitesManage_1
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #38a7ab, stop:1 #319194);
    color:#F7F7F7;
    font-size:10px;
    font-weight:normal;
    border-top-color:   #59c5c8;
    border-left-color:  #59c5c8;
    border-right-color: #194b4c;
    border-bottom-color:#194b4c;
}
#pushButton_addNewSite_1:hover,
#pushButton_sitesManage_1:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #48b7bb, stop:1 #319194);
}
#pushButton_addNewSite_1:pressed,
#pushButton_sitesManage_1:pressed
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #319194, stop:1 #48b7bb);
    border-top-color:   #194b4c;
    border-left-color:  #194b4c;
    border-right-color: #59c5c8;
    border-bottom-color:#59c5c8;
}

/* MAGENTA */
#pushButton_archiveCopyKeyComma_1,
#pushButton_archiveCopyKeySpace_1,
#pushButton_archiveCopyTitle
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #6938a9, stop:1 #5c3194);
    color:#F7F7F7;
    font-size:10px;
    font-weight:normal;
    border-top-color:   #8959c8;
    border-left-color:  #8959c8;
    border-right-color: #2f194c;
    border-bottom-color:#2f194c;
}
#pushButton_archiveCopyKeyComma_1:hover,
#pushButton_archiveCopyKeySpace_1:hover,
#pushButton_archiveCopyTitle:hover
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #7948b9, stop:1 #5c3194);
}
#pushButton_archiveCopyKeyComma_1:pressed,
#pushButton_archiveCopyKeySpace_1:pressed,
#pushButton_archiveCopyTitle:pressed
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #5c3194, stop:1 #7948b9);
    border-top-color:   #2f194c;
    border-left-color:  #2f194c;
    border-right-color: #8959c8;
    border-bottom-color:#8959c8;
}

/*
QSlider::groove:horizontal {
     border: 1px solid #999999;
     height: 8px;
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
     margin: 2px 0;
 }
*/
QSlider
{
    /*
    height:4px;
    min-width:50px;
    */

}

QSlider::handle:horizontal
{
    image:url(:/icons/icons/blueButton.png);
    width: 18px;
    /*
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0;
    border-radius: 3px;
    */
}

QSlider::handle:horizontal:hover
{
    image:url(:/icons/icons/blueButtonLight.png);
    width: 18px;
    /*
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0;
    border-radius: 3px;
    */
}

 QCheckBox::indicator
 {
    width:24px;
    height:24px;

}

 QCheckBox::indicator:unchecked {
     image: url(:/icons/icons/btn_check_off_holo_dark.png);
 }

 QCheckBox::indicator:unchecked:hover {
     image: url(:/icons/icons/btn_check_off_focused_holo_dark.png);
 }

 QCheckBox::indicator:checked {
     image: url(:/icons/icons/btn_check_on_holo_dark.png);
 }

 QCheckBox::indicator:checked:hover {
     image: url(:/icons/icons/btn_check_on_focused_holo_dark.png);
 }






